<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="TE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Галерея: Михаил Бабенков</title>
    <meta name="keywords" content="галерея работ, галерея картин, картинная галерея, михаил бабенков, картины, художник, художники, блог художника, сайт художника, блог михаила бабенкова, сайт михаила бабенкова">
    <meta name="description" content="Галерея работ Михаила Бабенкова">

    <!-- Собственные стили -->
    <link href="css/style_min.css" rel="stylesheet">
    <!-- Подключение шрифтов -->
    <link rel="preload" href="fonts/Nunito-Regular.ttf" as="font" crossorigin="anonymous">

    <!-- Иконка загладки браузера (16х16 px) -->
    <!-- <link rel="shortcut icon" type="image/x-icon" href="img/logo16.png">или другой путь -->

</head>
<body>

  include components/header.pug

</body>
</html>
