extends includes/template.pug

append config
  - keywords = 'Word1, word2'
  - description = 'About this site'
  - pageTitle = 'Page 1'

block fonts
  link(rel="preload" href="fonts/Gilroy-Bold.woff2" as="font" crossorigin="anonymous")
  link(rel="preload" href="fonts/Gilroy-Medium.woff2" as="font" crossorigin="anonymous")
block content
  include includes/mixins.pug
  include ../components/content.pug
