header.header.container-fluid
  h1.visually-hidden Hello world
  nav.header-nav.navbar
    div.navbar-item.navbar-logo.logo
    div.navbar-item.navbar-mainmenu.mainmenu
    div.navbar-item.navbar-servicemenu.servicemenu
  img.img-test(src="img/temp.jpg" width="128" height="128" alt="Test")
