.mainblock
  .mainblock_banner.banner
    .banner_name Gtas Ganiev
    .banner_description
      p Web developer
      p 41 years old, Loznica, Serbia
    .banner_language
      a.banner_language-link.banner_language-link-ru(hfer="#") RU
      span |
      a.banner_language-link.banner_language-link-en(hfer="#") EN
  .mainblock_image-wrap
    +img('mainblock_image', 'img/temp.jpg', '943px', '387px', 'My photo')
