nav.header-nav.navbar
  button.btn.btn-burger
    span.btn-burger__spot
    span.btn-burger__spot
    span.btn-burger__spot
  ul.navbar-items.list-default
    li.navbar-item
      a.navbar-item-link(href='#') Home
    li.navbar-item
      a.navbar-item-link(href='#') About me
    li.navbar-item
      a.navbar-item-link(href='#') Skills
    li.navbar-item
      a.navbar-item-link(href='#') Portfolio
    li.navbar-item
      a.navbar-item-link(href='#') Contacts
