// Layout 2-breaks:
$s-min: 320px;
$s-max: 1023.9px;
$l-min: 1024px;

$s-padding: 20px;
$l-padding: 130px;

$s-content: ($s-min - 2 * $s-padding);
$l-content: ($l-min - 2 * $l-padding);

// Layout 3-breaks:
// $s-min: 320px;
// $s-max: 767.9px;
$m-min: 768px;
$m-max: 1279.9px;
// $l-min: 1280px

// $s-padding: 20px;
$m-padding: 30px;
// $l-padding: 130px;

// $s-content: ($s-min - 2 * $s-padding);
$m-content: ($m-min - 2 * $m-padding);
// $l-content: ($l-min - 2 * $l-padding);

// All values:
// $xs-min: 320px; //mobile *
// $xs-max: 599.9px;
// $s-min: 600px;
// $s-max: 767.9px;
// $m-min: 768px; //tablet *
// $m-max: 1169.9px;
// $l-min: 1170px; //1280px //desktop *
// $l-max: 1439.9px;
// $xl-min: 1440px; //1560px

// $xs-padding: 15px;
// $s-padding: 20px;
// $m-padding: 30px;
// $l-padding: 130px;
// $xl-padding: 150px;

// $xs-content: ($xs-min - 2 * $xs-padding);
// $s-content: ($s-min - 2 * $s-padding);
// $m-content: ($m-min - 2 * $m-padding);
// $l-content: ($l-min - 2 * $l-padding);
// $xl-content: ($xl-min - 2 * $xl-padding);

// General varisbles
$mobile-max-width: 1024px;
$min-content: $s-min;

// Adaptive pictures
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
